spring:
  application:
    name: jpa-production-ready-template

  datasource:
    hikari:
      auto-commit: false
      max-lifetime: 30000
      connection-timeout: 15000
      maximum-pool-size: 10
      leak-detection-threshold: 60000

  liquibase:
    liquibase-schema: public
    enabled: true

  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 15
        order_inserts: true
        order_updates: true
        connection:
          provider_disables_autocommit: true
        query:
          in_clause_parameter_padding: true
          fail_on_pagination_over_collection_fetch: true
          plan_cache_max_size: 4096

    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none

#decorator:
#  datasource:
#    flexy-pool:
#      threshold:
#        connection:
#          acquisition: 50
#          lease: 1000