name: Java Maven Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [24]
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: demo
          POSTGRES_USER: demo
          POSTGRES_PASSWORD: demo
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U demo -d demo"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - name: Build with Maven
        run: |
          mvn clean \
            -Ddb.url=jdbc:postgresql://localhost:5432/demo?prepareThreshold=0 \
            -Dusername=demo \
            -Dpassword=demo \
            -Ddb.driver=org.postgresql.Driver \
            liquibase:update \
            generate-sources \
            install -DskipTests
